<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="http://cdn.bootcss.com/typeahead.js/0.11.1/typeahead.bundle.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
</head>
<body οnlοad="init()">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<div class="col-sm-3">
    <section class="panel">
        <div class="panel-heading">
            Search By:
        </div>
        <br>
        <div class="nav search-row" id="top_menu">
            <!--  search start -->

            <a>Protein names:</a><br>
            <input id="protein_name" placeholder="Protein names" type="text">
            <br><br>
            <a>Protein uniprot id:</a><br>
            <input id="uniprot_id" placeholder="Protein uniprot id" type="text">
            <br>
            <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">
            <br><br><br>

            <input type="button" id="btn" value="search" onclick="search">
            <!--  search end -->
        </div>
    </section>
</div>
<div class="col-sm-9">
    <section class="panel">
        <div class="panel-heading">
            List
        </div>
        <table class="table table-striped table-advance table-hover">
            <thead>
            <tr>
                <th>uniprot_id</th>
                <th>protein_name</th>
                <th>gene_symbol</th>
            </tr>
            </thead>
            <tbody id="protein_table">
            </tbody>
        </table>
        <div class="pagination">
    <span class="step-links">
        {% if has_previous %}
            <a id="first_page" onclick="first_page()">first</a>
            <a id="previous_page" onclick="previous_page()">previous</a>
        {% endif %}
        <span class="current" id="page_number">
            Page {{ page_number }} of {{ num_pages }}
        </span>
        {% if has_next %}
            <a id="next_page" onclick="next_page()">next</a>
            <a id="last_page" onclick="last_page()">last</a>
        {% endif %}
    </span>
        </div>
    </section>
</div>
<script type="text/javascript">
    var num_pages = 1
    var has_previous = false
    var has_next = false
    var page_number = 1
    function getPageData(data) {
<!--        console.log("==================")-->
<!--        console.log($("#protein_table").val())-->
        var str = ""
        for (var i = 0; i < data.length; i++) {
            str = "<tr><td>" + data[i].uniprot_id + "</td><td>" + data[i].protein_name + "</td></tr>" + data[i].gene_symbol + "</td></tr>"
            $("#protein_table").append(str)
        }
    }
    window.onload=function init(){
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/goods_page/1",
            data: {
                page_number: page_number
            },
            success: function (res) {
                data = res.data
                getPageData(data)
                num_pages = res.num_pages
                has_previous = res.has_previous
                has_next = res.has_next
                page_number = res.page_number
                $("#page_number").val(page_number)
            }
        })
    };
    function next_page(){
        {% if has_next %}
            page_number = page_number + 1;
        {% endif %}
        var protein_name = document.getElementById('protein_name').value
        var uniprot_id = document.getElementById('uniprot_id').value
        document.getElementById('protein_table').value = ""
<!--        $("#protein_table").val("")-->
        $.ajax({
            type: "GET",
            url: 'http://127.0.0.1:8000/goods_page/' + page_number,
            data: {
                page_number: page_number,
                protein_name: protein_name,
                uniprot_id: uniprot_id,
            },
            success: function (res) {
                data = res.data
                console.log(data)
                num_pages = res.num_pages
                has_previous = res.has_previous
                has_next = res.has_next
                page_number = res.page_number
                getPageData(data)
                $("#page_number").val(page_number)
            }
        })
    }


</script>
</body>
</html>
