<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->
    <!--    <script type="text/javascript"-->
    <!--        src="../static/bootstrap-tagsinput.js"></script>-->
    <!--    <link rel="stylesheet" href="../static/bootstrap-tagsinput.css">-->
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="http://cdn.bootcss.com/typeahead.js/0.11.1/typeahead.bundle.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<!-- container section start -->
<section id="container" class="">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'proteins' %}">proteins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'plot' %}">visualization</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cy' %}">networks</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-sm-3">
            <section class="panel">
                <div class="panel-heading">
                    Search By:
                </div>
                <form action="{% url 'proteins' %}" method="get">
                    <a>Protein names:</a><br>
                    <input placeholder="Protein names" name="protein_name" id="protein_name" type="text"
                           value="{{protein_name}}" data-role="tagsinput">
                    <br><br>
                    <a>Protein uniprot id:</a><br>
                    <input placeholder="Protein uniprot id" name="uniprot_id" id="uniprot_id" type="text"
                           value="{{uniprot_id}}" data-role="tagsinput">
                    <br><br>
                    <p>tips: click return button after type a id or name can search for a list of ids or names</p>
<!--                    <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">-->
                    <br><br>
                    <button type="submit">search</button>
                </form>
                <button onclick="reset()">reset</button>
            </section>
        </div>
        <div class="col-sm-9">
            <section class="panel">
                <div class="panel-heading">
                    Result List
                </div>
                <table class="table table-striped table-advance table-hover" id="proteinTable">
                    <tbody>
                    <tr>
                        <th>uniprot_id</th>
                        <th>protein_name</th>
                        <th>gene_symbol</th>
                        <th>option</th>
                    </tr>
                    {% for protein in result_page %}
                    <tr>
                        <td>{{ protein.uniprot_id }}</td>
                        <td>{{ protein.protein_name }}</td>
                        <td>{{ protein.gene_symbol }}</td>
                        <td>
                            <button data-original-title="Popovers in left"
                                    data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                    data-placement="left"
                                    data-trigger="hover" class="btn btn-info popovers">Show
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination">
                    <!-- previous -->
                    {% if result_page.has_previous %}
                    <a href="?protein_name={{protein_name}}&uniprot_id={{uniprot_id}}&page_num={{ result_page.previous_page_number }}">previous</a>
                    {% endif %}
                    <!-- by page number -->
                    <!--            {% for p in page_range %}-->
                    <!--            {% if page_num == p %}-->
                    <!--            <a href="?protein_name={{protein_name}}&uniprot_id={{uniprot_id}}&page_num={{p}}">{{p}}</a>-->
                    <!--            {% else %}-->
                    <!--            <a href="?protein_name={{protein_name}}&uniprot_id={{uniprot_id}}&page_num={{p}}">{{p}}</a>-->
                    <!--            {% endif %}-->
                    <!--            {% endfor %}-->
                    <span class="current">
                Page {{ result_page.number }} of {{ result_page.paginator.num_pages }}.
            </span>

                    <!-- next -->
                    {% if result_page.has_next %}
                    <a href="?protein_name={{protein_name}}&uniprot_id={{uniprot_id}}&page_num={{ result_page.next_page_number }}">next</a>
                    {% endif %}
                </ul>
            </section>
        </div>
    </div>

</section>
<!-- container section end -->
<script type="text/javascript">
    function reset() {
        document.getElementById('protein_name').value = ''
        document.getElementById('uniprot_id').value = ''
    }
</script>
</body>
</html>

<style>

</style>
