<!DOCTYPE html>

<html>
<head>
    <title>cytoscape demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- 导入cytoscape.js库-->
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <style>
    body {
      font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    }
    #cy {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 0.7;
    }
    h1 {
      color:#3366FF;
      opacity: 0.5;
      font-size: 28px;
      font-weight: bold;
    }

    </style>
    <script>
	//增加监听事件，函数内初始化
    document.addEventListener('DOMContentLoaded', function () {
            var nodes = {{ nodes | safe }};
            var edges = {{ edges | safe }};
      var cy = window.cy = cytoscape({
        container: document.getElementById('cy'),	//container的值为DOM容器，表示显示图表的位置
          "style" : [ {
    "selector" : "node",
    "css" : {
      "color" : "rgb(51,51,51)",
      "border-color" : "rgb(0,0,0)",
      "height" : 5.0,
      "font-size" : 1,
      "text-opacity" : 1.0,
      "border-opacity" : 1.0,
      "background-color" : "rgb(204,204,255)",
      "font-family" : "SansSerif",
      "font-weight" : "normal",
      "text-valign" : "center",
      "text-halign" : "center",
      "border-width" : 0.0,
      "width" : 5.0,
      "background-opacity" : 1.0,
      "shape" : "ellipse",
      "content" : "data(name)"
    }
  }, {
    "selector" : "node[logFC > 1.55675113]",
    "css" : {
      "background-color" : "rgb(178,24,43)"
    }
  }, {
    "selector" : "node[logFC = 1.55675113]",
    "css" : {
      "background-color" : "rgb(214,96,77)"
    }
  }, {
    "selector" : "node[logFC > 0][logFC < 1.55675113]",
    "css" : {
      "background-color" : "mapData(logFC,0,1.55675113,rgb(247,247,247),rgb(214,96,77))"
    }
  }, {
    "selector" : "node[logFC > -1.55675113][logFC < 0]",
    "css" : {
      "background-color" : "mapData(logFC,-1.55675113,0,rgb(67,147,195),rgb(247,247,247))"
    }
  }, {
    "selector" : "node[logFC = -1.55675113]",
    "css" : {
      "background-color" : "rgb(67,147,195)"
    }
  }, {
    "selector" : "node[logFC < -1.55675113]",
    "css" : {
      "background-color" : "rgb(33,102,172)"
    }
  }, {
    "selector" : "node:selected",
    "css" : {
      "background-color" : "rgb(255,255,0)"
    }
  }, {
    "selector" : "edge",
    "css" : {
      "text-opacity" : 1.0,
      "color" : "rgb(0,0,0)",
      "width" : 0.1,
      "source-arrow-color" : "rgb(0,0,0)",
      "opacity" : 1.0,
      "content" : "",
      "font-size" : 10,
      "line-color" : "rgb(76,76,76)",
      "target-arrow-color" : "rgb(0,0,0)",
      "font-family" : "SansSerif",
      "font-weight" : "normal",
      "target-arrow-shape" : "none",
      "line-style" : "solid",
      "source-arrow-shape" : "none"
    }
  }, {
    "selector" : "edge:selected",
    "css" : {
      "line-color" : "rgb(255,0,0)"
    }
  } ],
        elements: {
                nodes: nodes,
                edges: edges
              },
        layout: {
          name: 'cose',	//一种默认布局方式
        }
      });
    });

    </script>
</head>
<body>
<h1>Cytoscape</h1>
<div id="cy"></div>
</body>

</html>
