<!DOCTYPE html>

<html>
<head>
    <title>cytoscape demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- 导入cytoscape.js库-->
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="http://cdn.bootcss.com/typeahead.js/0.11.1/typeahead.bundle.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
    <style>
        body {
            font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
        }

        #cy {
            position: absolute;
            left: 30%;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            opacity: 0.7;
        }


    </style>
    <script>
        //增加监听事件，函数内初始化
        document.addEventListener('DOMContentLoaded', function () {
            var nodes = {
            {
                nodes | safe
            }
        }
            ;
            var edges = {
            {
                edges | safe
            }
        }
            ;
            window.cy = cytoscape({
                container: document.getElementById('cy'),	//container的值为DOM容器，表示显示图表的位置
                "style": [{
                    "selector": "node",
                    "css": {
                        "color": "rgb(51,51,51)",
                        "border-color": "rgb(0,0,0)",
                        "height": 20.0,
                        "font-size": 1,
                        "text-opacity": 1.0,
                        "border-opacity": 1.0,
                        "background-color": "rgb(204,204,255)",
                        "font-family": "SansSerif",
                        "font-weight": "normal",
                        "text-valign": "center",
                        "text-halign": "center",
                        "border-width": 0.0,
                        "width": 20.0,
                        "background-opacity": 1.0,
                        "shape": "ellipse",
                        "content": "data(name)"
                    }
                }, {
                    "selector": "node[logFC > 1.55675113]",
                    "css": {
                        "background-color": "rgb(178,24,43)"
                    }
                }, {
                    "selector": "node[logFC = 1.55675113]",
                    "css": {
                        "background-color": "rgb(214,96,77)"
                    }
                }, {
                    "selector": "node[logFC > 0][logFC < 1.55675113]",
                    "css": {
                        "background-color": "mapData(logFC,0,1.55675113,rgb(247,247,247),rgb(214,96,77))"
                    }
                }, {
                    "selector": "node[logFC > -1.55675113][logFC < 0]",
                    "css": {
                        "background-color": "mapData(logFC,-1.55675113,0,rgb(67,147,195),rgb(247,247,247))"
                    }
                }, {
                    "selector": "node[logFC = -1.55675113]",
                    "css": {
                        "background-color": "rgb(67,147,195)"
                    }
                }, {
                    "selector": "node[logFC < -1.55675113]",
                    "css": {
                        "background-color": "rgb(33,102,172)"
                    }
                }, {
                    "selector": "node:selected",
                    "css": {
                        "background-color": "rgb(255,255,0)"
                    }
                }, {
                    "selector": "edge",
                    "css": {
                        "text-opacity": 1.0,
                        "color": "rgb(0,0,0)",
                        "width": 0.1,
                        "source-arrow-color": "rgb(0,0,0)",
                        "opacity": 1.0,
                        "content": "",
                        "font-size": 10,
                        "line-color": "rgb(76,76,76)",
                        "target-arrow-color": "rgb(0,0,0)",
                        "font-family": "SansSerif",
                        "font-weight": "normal",
                        "target-arrow-shape": "none",
                        "line-style": "solid",
                        "source-arrow-shape": "none"
                    }
                }, {
                    "selector": "edge:selected",
                    "css": {
                        "line-color": "rgb(255,0,0)"
                    }
                }],
                elements: {
                    nodes: nodes,
                    edges: edges
                },
                layout: {
                    name: 'cose',	//一种默认布局方式
                }
            });

            function alertNode() {
                cy.on('onetap', 'node', function (e) {
                    var node = e.target;
                    alert('tapped ' + node.data("name"));
                });
            }

            alertNode();

            function double_click_node() {
                cy.on('dbltap', 'node', function (e) {
                    var node = e.target;
                    cy.fit(cy.$(node.id));
                    console.log(node.data)
                });
            }

            double_click_node();
        });

        function do_cluster() {
            var one = {}
            var two = {}
            $.ajax({
                type: "GET",
                url: "http://localhost:1234/v1/networks/14635",
                success: function (res) {
                    window.cy = cytoscape({
                        container: document.getElementById('cy'),
                        style: [{
                            "selector": "node",
                            "css": {
                                "color": "rgb(51,51,51)",
                                "border-color": "rgb(0,0,0)",
                                "height": 5.0,
                                "font-size": 1,
                                "text-opacity": 1.0,
                                "border-opacity": 1.0,
                                "background-color": "rgb(204,204,255)",
                                "font-family": "SansSerif",
                                "font-weight": "normal",
                                "text-valign": "center",
                                "text-halign": "center",
                                "border-width": 0.0,
                                "width": 5.0,
                                "background-opacity": 1.0,
                                "shape": "ellipse",
                                "content": "data(name)"
                            }
                        }, {
                            "selector": "node[logFC > 1.55675113]",
                            "css": {
                                "background-color": "rgb(178,24,43)"
                            }
                        }, {
                            "selector": "node[logFC = 1.55675113]",
                            "css": {
                                "background-color": "rgb(214,96,77)"
                            }
                        }, {
                            "selector": "node[logFC > 0][logFC < 1.55675113]",
                            "css": {
                                "background-color": "mapData(logFC,0,1.55675113,rgb(247,247,247),rgb(214,96,77))"
                            }
                        }, {
                            "selector": "node[logFC > -1.55675113][logFC < 0]",
                            "css": {
                                "background-color": "mapData(logFC,-1.55675113,0,rgb(67,147,195),rgb(247,247,247))"
                            }
                        }, {
                            "selector": "node[logFC = -1.55675113]",
                            "css": {
                                "background-color": "rgb(67,147,195)"
                            }
                        }, {
                            "selector": "node[logFC < -1.55675113]",
                            "css": {
                                "background-color": "rgb(33,102,172)"
                            }
                        }, {
                            "selector": "node:selected",
                            "css": {
                                "background-color": "rgb(255,255,0)"
                            }
                        }, {
                            "selector": "edge",
                            "css": {
                                "text-opacity": 1.0,
                                "color": "rgb(0,0,0)",
                                "width": 0.1,
                                "source-arrow-color": "rgb(0,0,0)",
                                "opacity": 1.0,
                                "content": "",
                                "font-size": 10,
                                "line-color": "rgb(76,76,76)",
                                "target-arrow-color": "rgb(0,0,0)",
                                "font-family": "SansSerif",
                                "font-weight": "normal",
                                "target-arrow-shape": "none",
                                "line-style": "solid",
                                "source-arrow-shape": "none"
                            }
                        }, {
                            "selector": "edge:selected",
                            "css": {
                                "line-color": "rgb(255,0,0)"
                            }
                        }],
                        elements: {
                            nodes: res.elements.nodes,
                            edges: res.elements.edges,
                        },
                        layout: {name: 'random'}
                    });
                }
            })
        }

        function init(){

            $.ajax({
                type: "GET",
                url: "http://localhost:1234/v1/networks/14635",
                success: function (res) {


                }
            })
        }


        function do_cluster() {
            var one = {}
            var two = {}
            c


        }


    </script>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<!-- container section start -->
<section id="container" class="">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" id="proteins_tab" aria-current="page" href="{% url 'proteins' %}">proteins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'plot' %}">visualization</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cy' %}">networks</a>
        </li>
    </ul>
</section>
<div class="col-sm-3">
    <section class="panel">
        <div class="nav search-row" id="top_menu">
            <a>dataset:</a>
            <select id="select_dataset" class="form-control form-control-placeholder">
                <option value="-1" disabled selected hidden>please select</option>
                <option value="00">KCL-VIENNA Plaque Cohort</option>
                <option value="01">Carotid Plaques Vienna Cohort</option>
                <option value="02">Coronary Arteries University of Virginia Cohort</option>
            </select>
            <a>network:</a>
            <select id="select_network" class="form-control form-control-placeholder">
                <option value="-1" disabled selected hidden>please select</option>
                <option value="00">gu core filtered directed network</option>
                <option value="01">gu periphery filtered directed network</option>
            </select>
            <button onclick="clusters">show original network</button>
            <br><br>
            <button onclick="do_cluster()">do clustering</button>
            <br><br>
            <select id="select_log" class="form-control form-control-placeholder">
                <option value="-1" disabled selected hidden>please select</option>
                <option value="00">calcified vs non calcified</option>
                <option value="01">echogenic vs echolucent</option>
                <option value="02">female vs male</option>
            </select>
            <br><br>
            <button onclick="clusters">apply log2FC color</button>
        </div>
    </section>
</div>
<div id="cy"></div>
</body>

</html>
